# Ignore Compiled Python Files
*.pyc

# Logs are Spam
logs/
*.log
preferences.json

# Git Needs to know my district
streamerinfo_district.txt

# Toon Databases are Ugly
backups/
user/
dependencies/astron/databases/
dependencies/astron/databases/info.yaml
dependencies/astron/databases/account-bridge.db

# Pip logs
pip-log.txt
pip-delete-this-directory.txt

# IDEA pycharm/intellij
.idea/
toontown/battle/asdfaf.py
toontown/battle/adf.py
toontown/battle/asdf.py
toontown/battle/asdfdasf.py
toontown/battle/asdf.py
toontown/battle/asdf.py
toontown/battle/dasf.py
toontown/battle/NickelAndDime.py
toontown/battle/SuitBattleGlobals - Copy.py
toontown/suit/SuitAvatarPanelNEWOLD.py
toontown/town/status icons.py

#python being python
PYTHON_PATH
/resources/contentpacks
toontown.zip
resources/contentpacks/pack-load-order.yaml
resources/contentpacks/pack-load-order.yaml
resources/contentpacks/pack-load-order.yaml
*.yaml
resources/contentpacks/pack-load-order.yaml
resources/contentpacks/pack-load-order.yaml
resources/contentpacks/pack-load-order.yaml
*.zip
